body{
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

p {
    font-size: 50px;
}

.title{
    font-size: 80px;
    font-weight: 300;
    color: black;
    text-transform: uppercase;
}

h1.title{
    position: sticky;
    transform: translateX(-100px);
}

